.selfie{
    height: auto;
    width:30%;
    max-width: 200px;
    border-radius: 100%;
    background-color: #9e9e9e;
    margin-right: 0px;
    z-index: 10;
}

.profile_name{
    padding-top: 10%;
}


body{
    background-color: rgb(240,240,240);
}
.lang-logo{
    height:100px;
    width: 100px;
}

.collection{
    border:0;
}
#posts{
    border-bottom-width: 0px;
}

.programming_language{
    font-weight: lighter;
}
#contact{
    height: auto;
    cursor: pointer;
}
#name{
    font-weight: lighter;
}
h3{
    margin-top:10px;
    margin-bottom: 5px;
}
#comments{
    font-weight: lighter;
}
.lean-overlay{
    opacity: 1;
}
.comment-animation{
    height:2px;
    background-color:#f44336;
}
.tabs{
    background-color: transparent;
}
